<div id="signup">
    <h3>Sign Up</h3>
    <form action="/signup" method="POST">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter your Username"  >
      <label>Email</label>
      <input type="email" name="email" placeholder="Enter your Email">
      <label>Password</label>
     <input type="password" name="password" placeholder="Enter your Password"  >
     <label>Role</label>
     <select name="role">
        <option value="farmer">Farmer</option>
        <option value="costumer">Costumer</option>
      </select>
      <button type="submit">Sign In</button>
    </form>
</div>