<h1>Sign Up to use local farm</h1>
  <form action="/signup" method="POST">
  <label>Username</label>
  <input type="text" name="username" placeholder="Enter your Username"  >
  <label>Email</label>
  <input type="email" name="email" placeholder="Enter your Email">
  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  <button type="submit" >Sign In</button>
  </form>