<div class="signin">
  <h1>Sign in</h1>
  <form action="/signin" method="POST">
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter your Username"  >
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your Password"  >
    <button type="submit" >Sign In</button>
    <a href="/signup">Create an account</a>
</form>
</div>
