
<section>
  <img class="cow" src="/images/cow.png" alt="">
  <form method="POST" action="/add" id="form-update"> 
  <h2>Add Products</h2>
  <p>Here you can add any of your products and make them available to potential customers</p>
    <div class="mb-3">
      <label  class="form-label">Product:</label>
      <input name="name" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label  class="form-label">Quantity:</label>
      <input name="quantity" type="number" class="form-control">
    </div>
    <div class="mb-3">
      <label  class="form-label">Price:</label>
      <input name="price" type="number" class="form-control">
    </div>
    <select name="product">
      <option value="Vegetables">Vegetables</option>
      <option value="AnimalProducts">Animal Products</option>
    </select>
    <button type="submit" class="btn btn-dark btn-shadow">Add Product</button>
  </form>
  <img class="farmer" src="/images/farmer1.png" alt="">
</section>