
<section class="main">
  <img src="/images/cow.png" alt="cow" class="cow">
  <div id="btn">
    <h2 class="colafont">Local Farm</h2>
    <p>Buying food directly from<br> farmers is the most powerful<br> everyday act available to anyone <br>	 to create a positive social and environmental impact.</p>
    <div class="div2">
      <a  href="/signin" <button type="button" class="btn btn-dark btn-shadow">Sign In</button></a>
      <a  href="/signup" <button type="button" class="btn btn-dark btn-shadow">Sign Up</button></a>
    </div> 
  </div>
  <img src="/images/farmer1.png" alt="farmer" class="farmer">
</section>

