<section>
  <img class="cow" src="/images/cow.png" alt="">
  <form method="POST" action="/farmer-profile/{{product._id}}/edit" id="form-update">
  <h3>Edit your products</h3>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input value="{{product.name}}" name="name" type="text" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputDescription1" class="form-label">Quantity</label>
      <input value="{{product.quantity}}" name="quantity" type="number" class="form-control" id="exampleInputDescription1">
    </div>
    <div class="mb-3">
      <label for="exampleInputDescription1" class="form-label">Price</label>
      <input value="{{product.price}}" name="price" step="any" type="number" class="form-control" id="exampleInputDescription1">
    </div>
    <button type="submit" class="btn btn-dark btn-shadow">Update</button>
  </form>
  <img class="farmer" src="/images/farmer1.png" alt="">
</section>